<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationLogger" value="data source=DEV-VS;initial catalog=ApplicationLogger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add key="Provider" value="System.Data.SqlClient" />
    <add key="LoggerName" value="C:\TEMP\testApplicationLogger.txt"/>
  </appSettings>
</configuration> 